Django~=5.2.6
django-ninja~=1.4.3
psycopg2-binary~=2.9.10
PyJWT~=2.10.1
django-cors-headers~=4.9.0
gunicorn~=21.2.0
pillow~=11.3.0

pytest~=8.4.2
pytest-django~=4.11.1
pytest-cov~=7.0.0
pytest-mock~=3.15.1
pytest-xdist~=3.8.0
